*{
    font-family: Georgia, serif;
}
#container{
    width: 75%;
    height: 3500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 30px;
    background-color: rgb(230, 230, 230);
    outline: none;
    border-radius: 10px;
    -webkit-box-shadow: 10px 11px 24px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 24px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 24px -8px rgba(0,0,0,0.75);
		line-height:1.5;
}
img{
    margin-left: 2cm;
}

video {
    width: 60%;
    height: auto;
		border:brown solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
	margin-left:2cm;
	border-radius: 10px;
}
nav{
     position: fixed;
     top: 0;
     left: 0;
     width:100%;
     height:7%;
     padding: 0;
     margin: 0;
     background: #CC9999;
     color:#ccc;
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-size: 2em;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),;
}
 .navbar__brand{
     display: flex;
     align-items: center;
     margin-left: 10px;
}
 .navbar__brand *{
     cursor: pointer;
}
 .navbar__brand__menu{
     margin-right: 10px;
     cursor: pointer;
}
 .navbar__menu{
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 100%;
     min-width: 20%;
}
 .navbar__menu li{
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     border-bottom: 4px solid transparent;
     margin: 0;
     min-width: 30%;
     transition: .2s all;
     cursor: pointer;
}
 .navbar__menu li:hover{
     border-bottom: 2px solid #663333;
	 color:white;
}
 .navbar__actions{
     min-width: 10%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-right: 10px;
}
 .navbar__actions i, .navbar__brand__menu{
     border-radius: 50%;
     cursor: pointer;
     transition:.2s all;
     padding: 10px;
}
 .navbar__actions i:hover, .navbar__brand__menu:hover{
     background: white;
     color:ccc;
}
